body{
    background-color: rgb(224, 201, 138);
    }   
        h1{
            color:rgb(165, 42, 134);
            background-color: cornflowerblue;
        }
        p{
            color: rgb(255, 20, 165);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 150%;
        }
    